{% extends "frontend/layout/inner_layout.html" %}
{% block contents %}

    <!-- Section -->
    <section class="sptb bg-white">
        <div class="container">
            <div class="row">
                <div class="text-justify col-lg-8 col-md-8"  style="font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;">
                    <h2 class="mb-4 ">FAQs</h2>
                    <h3 class="leading-normal">FAQs</h3>
                    <h4 class="leading-normal">• How can I become a dreamer?</h4>
                    <p class="leading-normal">Just sign up with an email address and register your role as a dreamer.</p>
                    <h4 class="leading-normal">• How do I become a donor?</h4>
                    <p class="leading-normal">Just sign up with an email address and register your role as a donor.</p>
                    <h4 class="leading-normal">• Why can’t I see my idea after posting?</h4>
                    <p class="leading-normal">Your idea is going to be reviewed by our team and it will be posted as soon as it receives approval.</p>
                    <h4 class="leading-normal">• How long will it take before my idea gets approved?</h4>
                    <p class="leading-normal">Our team is working around the clock and you are a priority to us. Your ideas will be approved as soon as we can review it and approve it.</p>
                    <h4 class="leading-normal">• Can I contact dreamer or a donor directly?</h4>
                    <p class="leading-normal">Yes, right after admin approval you can directly contact a dreamer or a donor.</p>
                    <h4 class="leading-normal">• Can I login with Google or Facebook?</h4>
                    <p class="leading-normal">Yes, we have introduced that feature. You can register or sign up using your email address.</p>
                    <h4 class="leading-normal">• Can I find dreamers or donors specific to my region?</h4>
                    <p class="leading-normal">We have an option of selecting your regional preference. Hence, it will help you find dreamers or donors according to your regional preference.</p>
                </div>
                <div class="col-lg-4 col-md-4">


            </div>
        </div>
    </section>
    <!--/Section -->


    <script type="text/javascript">
        setTimeout(function(){
            if($('#msg').length > 0){
                $('#msg').remove();
            }
        }, 3000)
    </script>
    <!--/Contact-->
{% endblock %}
{% block js %}

{% endblock %}